@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Open+Sans+Condensed:wght@300&family=Roboto:ital,wght@1,300;1,700&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: 40px;
    margin-top: 100px;
    
}
h1{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    letter-spacing: 10px;
    padding: 10px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
body{
    background: url("../images/bg3.jpg") no-repeat center fixed;
    background-size: cover;
}
.grid-item{
    padding:20px;
    margin: 20px;
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}