body{
  background: url("../images/bg1.jpg") no-repeat center fixed;
  background-size: cover;
}
.flex-container{
  display:grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  max-width: 1200px;
}
div.flex-item {
  text-align: center;
  margin-top: 0%;
  padding: 10;
  font-size: 25px;
}
.flex-item a{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: green;
}
a:hover{
  background-color: rosybrown;
  color: yellow;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 45px;
}
h1{
  text-align: center;
  color: brown;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.grid-container {
    display: grid;
    margin-top: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: auto auto auto;
    justify-content: start;

}

@media screen and (max-width:600px) {
    .flex-container{
      justify-content: start;
      grid-template-columns: auto;
      padding: 0;
    }
    .flex-item{
      padding: 5px;
    }
  
}